<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Quiz Page</title>
</head>
<body>
<h1>Create Quiz</h1>
<form method="post" action="{% url 'create_quiz_action'%}">
    {%csrf_token%}
    <input type="text" name="quiz_name">
    <br>
    <input type="submit" value="Create">
    {%if error%}
    <p>{{error}}</p>
    {%endif%}
</form>
<p>Список созданных Опросников</p>
{%for i in quizes%}
<a href="#">{{i.name}}</a>
<br>
{%endfor%}
</body>
</html>